.window{
    text-align: left;
    background: -webkit-linear-gradient(#576F72, #E4DCCF);
    color: aliceblue;
    margin-top: 3vh;
    width: fit-content;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.winbar{
    top: 0;
    position: absolute;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #7D9D9C;
    height: 4%;
    width: 100%;
    justify-content: center;
    display: inline-flex;
    position: relative;
    align-items: center;
    font-size: 3vh;
}

.winbutt{
    display: inline-flex;
    position: absolute;
    right: 0.5vw;
    font-size: 0.6rem;
    align-items: center;
}

.winbutt > *{
    margin-right: 0.5vw;
    opacity: 0.6;
    transition-duration: 0.3s;
}

.winbutt > *:hover{
    opacity: 1;
    transition-duration: 0.3s;
}

#cyanc{
    background-color: aqua;
    border-radius: 50%;
    text-align: center;
    width: 3%;
    height: 3%;
}

#bluec{
    background-color: blue;
    border-radius: 50%;
    text-align: center;
    width: 3%;
    height: 3%;
}

#redc{
    background-color: red;
    border-radius: 50%;
    text-align: center;
    width: 3%;
    height: 3%;
}

.wincontent{
    margin: 1vw;
    color: black;
    font-size: 2%;
    /* line-height: 2em; */
}

/* 
<div class="window">
    <div class="winbar">
        <center>
            <!--Title-->
        </center>
        <div class="winbutt">
            <div id="cyanc"></div>
            <div id="bluec"></div>
            <div id="redc"></div>
        </div>
    </div>
    <div class="wincontent">
        <!--content-->
    </div>
</div>
*/